<div id="<%= dom_id tweet %>">
  <div>
    <% if tweet.user.avatar.attached? %>
      <%= image_tag(tweet.user.avatar) %>
    <% else %>
      <%= image_tag("default_logo.png") %>
    <% end %>
  </div>

  <p>
    <%= tweet.user.name %>
  </p>
  <p>
    @<%= tweet.user.username %>
  </p>
   <p>
    <%= time_ago_in_words(tweet.user.created_at) %>
  </p>
  

  <p>
    <%= tweet.body %>
  </p>

  <div>
    <%= image_tag("comments.png")%>
     <%= tweet.comments_count %>
  </div>

  <% if current_user && tweet.user_id == @current_user.id %>
    <%= link_to edit_tweet_path(tweet) do %>
      <%= image_tag("edit_tweet.png") %>
    <% end %>
    <%= link_to tweet_path(tweet), data: { turbo_method: :delete } do %>
      <%= image_tag("delete_tweet.png") %>
    <% end %>
  <% end %>
  <% if current_user && tweet.user_id == current_user.id %>
    <%= link_to edit_tweet_path(tweet) do %>
      <%= image_tag("edit_tweet.png") %>
    <% end %>
    <%= link_to tweet_path(tweet), data: { turbo_method: :delete } do %>
      <%= image_tag("delete_tweet.png") %>
    <% end %>
  <% end %>
  


</div>
